@import './reset.css';

body {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
  color: #494848;
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  box-shadow: 0 0 100px 50px lightgoldenrodyellow;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.todo-header p {
  font-size: 20px;
  font-family: sans-serif;
}

.todo-new-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-top: solid mediumaquamarine 1px;
  box-shadow: inset 0 0 5px mediumaquamarine;
}

.todo-new-item input {
  width: 100%;
  border: none;
  font-style: italic;
}

.todo-new-item input:focus-visible {
  outline: none;
}

.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: solid mediumaquamarine 1px;
  padding: 10px 10px;
}

.todo-item input:hover {
  cursor: pointer;
}

.todo-item p {
  flex-grow: 4;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(84%) contrast(87%);
}

.icon:hover {
  cursor: pointer;
}

.todo-clear-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumaquamarine;
  padding: 20px;
}

.todo-clear-completed:hover {
  cursor: pointer;
}

.todo-clear-completed p {
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .todo-container {
    width: 40%;
  }
}
